<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <div th:if="${room}">
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <div th:if="${username}">
    Hi [[${username}]]
  </div>

  <p>
    <a href="jankengame?hand=Gu">ぐー</a>
    <a href="jankengame?hand=Tyoki">ちょき</a>
    <a href="jankengame?hand=Pa">ぱー</a>
  </p>
  <div th:if="${my}">
    あなたの手 [[${my}]]
  </div>
  <div th:if="${opponent}">
    相手の手 [[${opponent}]]
  </div>
  <div th:if="${result}">
    結果 You [[${result}]]
  </div>
</body>

</html>
